img{max-height: 600px;
min-height: 400px;
margin-left: 25%;
margin-right: 25%;
margin-top: 15px;
margin-bottom: 15px;
display: block;
}
.title{margin-left: 10%;
margin-right: 10%;
text-align: center;
font-family: "Arial Black";
padding: 15px;
border-size: 5px;
border-color: firebrick;
border-style: solid;
color: white;
border-radius: 15px;
background-color: firebrick;
padding: 15px;
font-size: 24px;}
header{margin-top: 10px;
margin-bottom: 10px;
}
body{background-image: url(background.jpg);
color: white;
font-family: "Helvetica";
}
table{margin-left: 25%;
margin-right: 25%;
}
p{margin-top: 15px;
}
a:link{color: firebrick;
}
a:visited{color: #e6b800;
}
#text{text-align: justify;
}